h1 {
  text-align: center;
  background-color: white;
}

h2 {
  text-align: center;
  margin-left: 35em;
  margin-right: 35em;
  background-color: white;
}

p {
  margin-left: 35em;
  margin-right: 35em;
  font-weight: bold;
}

img {
  position: sticky;
  top: 5em;
}

.secondImg {
  position:sticky;
  top: 10em;
}